[v-cloak]
  display none !important
input
button
textarea
  border none
  background none
  font unset

@font-face
  font-family 'Josefin Sans'
  font-style normal
  font-weight 400
  src: local('Josefin Sans'), local('JosefinSans'), url('/Josefin_Sans.woff') format('woff')


body
  font-family $main_font
  font-size 1.2rem
  background-image url('/new_year_background.png')
  width 100%
  height 100%
  //font-weight 300

.title
  padding 2rem
  display flex
  justify-content center
h1
  font-size 2rem
h2
  font-size 1.5rem

input
textarea
  color #281d9c

textarea.vert
  resize vertical

.neat-box
  background: rgba(255,255,255,0.5);
  padding: 1rem;
  border: 1px solid #908e8e;
  border-radius: 0.3rem;

.row
  width 100%
  padding .5rem
  display flex
  justify-content space-between
  flex-flow row wrap
  &.line
    border-top 1px solid grey
    margin calc(.5rem - 1px) 0
    padding 0
.flex-center
  display flex
  justify-content center
  align-items center

.btn
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #908e8e;

.btn-text
  text-decoration underline
