[v-cloak]
  display none !important
input
button
textarea
  border none
  background none
  font unset

body
  font-family $main_font
  font-size 1.2rem
  background-image url('https://www.subtlepatterns.com/patterns/new_year_background.png')
  width 100%
  height 100%
  //font-weight 300

.title
  padding 2rem
  display flex
  justify-content center
h1
  font-size 2rem
h2
  font-size 1.5rem

input
textarea
  color #281d9c

textarea.vert
  resize vertical
