.header_message
  position fixed
  top 0
  width 100%
.header_message-layout
  width 100%
  background #242B4D
  color #fff
  padding 1rem
  min-height 3rem
  display flex
  flex-flow row
  cursor pointer

.header_message_text
  flex 1
  text-align center
