.login
  min-height 4rem
  margin-bottom 1rem
  background-color rgba(223, 223, 223, 0.9)
  border-bottom 1px solid #908e8e
  align-items center
  justify-content flex-start
  h1
    padding .5rem
.login-gap
  width .5rem
  display inline-block

.login-right
  align-self stretch
  flex 1 0 auto
  display flex
  flex-flow row nowrap
  align-items center
  justify-content flex-end
.user_id
  align-self stretch
  display flex
  justify-content center
  align-items center
  border 1px solid #908e8e
  border-radius 1.2rem
.user_id-pic
  border-radius 0 1.2rem 1.2rem 0
.user_id-txt
  padding .5rem

.btn
  margin 0 .5rem

.flex-middle-gap
  flex 1
