.poll
  width 300px
  margin-top 1em
  .row.author
    justify-content flex-end
  .row.options
    flex-flow column nowrap
.author-txt
  padding-left .5rem
i.n
  font-weight bold

.see-results-icons
  display flex
  flex 1
  & > *
    flex 1

.send-vote i
  margin-left .5rem

.vote-option
  &-tick-box
    width 2rem
    height 2rem
    border 1px solid grey
    color #281d9c
  &-value
    flex 1
    padding-left .5rem
    display flex
    align-items center

.check-watermark
  opacity .05
