.poll_create
  width 300px
  background rgba(255, 255, 255, 0.5)
  padding 1rem
  border 1px solid #908e8e
  border-radius 0.3rem
  h2
    text-align center
    padding .5rem
  label
    padding-right 1rem
  .row
    width 100%
    padding .5rem
    display flex
    justify-content space-between
    flex-flow row wrap
.input-options
  display flex
  flex-flow column
  input
    margin 0 0.25rem
    width 152px
    flex 1 1 auto
    &:first-child
      margin-top 0
.input-option
  padding-left 1rem
  padding-bottom .75rem
  display flex
  flex-flow row wrap
  justify-content space-between

.form-submit
  padding .5rem
  border-radius .3rem
  border 1px solid #908e8e
.form--space-between
  display flex
  flex-direction row
  justify-content space-between

.btn-text
  text-decoration underline
.row.options label
  width 100%
  padding-bottom 1rem
.input-li
  color lighten(#281d9c, 40)
