.poll_create
  width 300px
  h2
    text-align center
    padding .5rem
  label
    padding-right 1rem
  textarea
    width 100%
    line-height 1.5
.input-options
  width 100%
  display flex
  flex-flow column
  input
    margin 0 0.25rem
    flex 1 1 auto
    &:first-child
      margin-top 0

.input-option
  width 100%
  display flex
  flex-flow row wrap
  justify-content space-between
  padding-left 1rem
  padding-bottom .75rem

.form-submit
  padding .5rem
  border-radius .3rem
  border 1px solid #908e8e
  i
    margin-left .5rem
.form--space-between
  display flex
  flex-direction row
  justify-content space-between

.row
  label
    width 100%
    padding-bottom .75rem
.input-li
  color lighten(#281d9c, 40)
