.poll.neat-box
  .row.question.more_line_height {{poll.question}}
  .row.author
    i.fa.fa-user-circle-o
    span.author-txt {{poll.user_id}}
  .row.line
  .row.options
    .row.vote-option(v-for='option in poll.options')
      button.vote-option-tick-box(@click='vote_tick_fn(poll, option.option)')
        i.fa.fa-check(
          :class=`{"check-watermark": poll.vote_tick !== option.option}`,
        )
      .vote-option-value.more_line_height {{ option.option }}
  .row.send-vote
    .status
    button.btn
      span send vote
      i.fa.fa-paper-plane-o(aria-hidden='true')
  .row.line.row
  .row.see-results
    button.btn-text see results
    .see-results-icons
      .flex-center: i.tally
      .flex-center: i.n n
      .flex-center: i.fa.fa-bar-chart
      .flex-center: i.fa.fa-pie-chart
