.poll
  width 300px
  .row.options
    flex-flow column nowrap

.author
  justify-self flex-end
.author-txt
  padding-left .5rem
.settings-txt
  padding-left .5rem
i.n
  font-weight bold

.see-results-icons
  display flex
  width 100px
  & > *
    flex 1

.send-vote i
  margin-left .5rem

.vote-option
  &-tick-box
    width 2rem
    height 2rem
    border 1px solid grey
    color #281d9c
  &-value
    flex 1
    padding-left .5rem
    display flex
    align-items center

.check-watermark
  opacity .05

.results-n-option
  padding-bottom 1rem
.results-n-count
  text-align right
  padding-left 1rem


.results-pie
  padding 0
  margin-left -1rem



.voted-box
  position relative
  .voted
    position absolute
    top -2rem
    right -1.6rem
    color #9c4949
    font-weight 600
    background #fff
    padding .3rem
    border-radius 1rem
    border 3px solid #9c4949

.vote-option-tick-box
  position relative
.vote-stamp
  position absolute
  top: 0
  left 0
  height 2rem
  width 2rem
  border-radius 2rem
  border 3px solid #9c4949
