.poll.neat-box
  .row.question Should the United Kingdom Leave the European Union?
  .row.author
    i.fa.fa-user-circle-o
    span.author-txt davee
  .row.line
  .row.options
    .row.vote-option
      button.vote-option-tick-box
        i.fa.fa-check.check-watermark
      .vote-option-value no Bremain
    .row.vote-option
      button.vote-option-tick-box
        i.fa.fa-check.check-watermark
      .vote-option-value yes Brexit
  .row.send-vote
    .status
    button.btn
      span send vote
      i.fa.fa-paper-plane-o(aria-hidden='true')
  .row.line.row
  .row.see-results
    button.btn-text see results
    .see-results-icons
      .flex-center: i.tally
      .flex-center: i.n n
      .flex-center: i.fa.fa-bar-chart
      .flex-center: i.fa.fa-pie-chart
