.toast_messages
  .toast_message(v-for='toast_message in toast_messages'): .neat-box
    .toast_message_title {{ toast_message.title }}
    .toast_message_message {{ toast_message.message }}
    img.toast_message_icon(
      v-if='toast_message.icon',
      :src='toast_message.icon'
    )
    .toast_message_close
      i.fa.fa-times
