.toast_messages
  position absolute
.toast_message
  padding .5rem
  position fixed
  bottom 0
  right 0
  &_close
    position absolute
    top 0rem
    right 0rem
    font-size 1.5rem
    color #1d4780
.toast_message .neat-box
  // height 10rem
  width 20rem
  // neat box
  background rgba(255,255,255,0.9)
  padding 1rem
  border 1px solid #908e8e
  border-radius: 0.3rem
