
.ws_status
  position fixed
  bottom 0
  right 0
  z-index 999
  display flex
  &.connected
    .ws_status_text
      background #c7dfff
    .tri-right
      border-bottom-color #c7dfff
  &.disconnected
    .ws_status_text
      background #ffc786
    .tri-right
      border-bottom-color #ffc786

.ws_status_text
  padding 0 1rem 0 0
  height 3rem
  display flex
  justify-content center
  align-items center


.tri-right
  width 0
  height 0
  text-indent -9999px
  border-bottom 3rem solid blue
  border-left 4.5rem solid transparent
