#app(v-cloak)
  include modules/login.pug
  include modules/ws_status.pug
  include modules/header_message.pug
  .content
    .forms
      include modules/poll_create.pug
      include modules/poll_view.pug
    //- include modules/$data.pug
