#app(v-cloak)
  .title: h1 Realtime Voting App
  include modules/ws_status.pug
  include modules/header_message.pug
  .content
    .forms
      include modules/poll_create.pug
      include modules/poll_view.pug
    .data
      code.votes {{ $data }}
