doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/styl.css')
    link(rel='stylesheet' href=' https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css ')
    title realtime voting app
  body
    script(src='/velocity1.2.1.js')
    script(src='/velocity1.2.1.ui.js')
    include content.pug
    script(src='/vue.js')
    script(src='/bundle.js')
