$main_font = 'Josefin Sans', sans-serif

@require './lib/jonoreset.styl'
@require './lib/base.styl'

.content
  display flex
  flex-flow row wrap
  justify-content space-between
.data
  padding 2rem
  white-space pre-wrap
  font-family 'ubuntu mono', monospace
  font-size 1rem
  code
    display inline-block
    background #ddd
    padding 1rem
.forms
  padding .5rem
  flex 0 1 50%
  display flex
  flex-flow row wrap
  justify-content center

@require 'modules/poll_create.styl'
@require 'modules/poll.styl'

// *
//   outline 1px solid grey
